  
  .mb-25 {
    margin-bottom: 25px;
  }
  .mt-container {
    margin-top: 65px;
  }
  .mb-container {
    margin-bottom: 100px;
  }
  .btn-space .btn-general {
    margin-left: 5px;
  }
  .title-path {
    font-size: 35px;
  }
  .bg-blue {
    background-color: rgb(1, 1, 87);
  }
  .place-info {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .place-border-schedules {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 35px;
  }
  .place-border {
      border: 1px solid #86868654;
      padding: 5px;
      margin-bottom: 35px;
      border-radius: 5px;
      /* box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 8%); */
      box-shadow: 3px 3px 3px 3px#cccccc54;
  }
  .scheduling-date-time {
    margin-top: 20px;
    background-color:  rgb(1, 1, 87);
    color: white;
  }
  .scheduling-date-time p {
    font-size: 17px;
  }
  .place-buttons {
    margin-top: 20px;
  }
  .place-buttons button {
    margin: 5px;
  }
  .place-border-schedules img {
    height: 100%;
    width: 100%;
  }
  @media (max-width: 991px)
  {
    .place-border-schedules img {
      height: 250px;
      width: 100%;
    }
  }
  .place-border img {
    height: 100%;
    width: 100%;
  }
  @media (max-width: 767px)
  {
    .place-border img {
      height: 250px;
      width: 100%;
    }
  }
  @media (min-width: 768px)
  {
    .place-infos {
      padding-left: 0;
      padding-right: 25px;
      text-align: center;
      margin-top: 10px;
    }
    .place-infos.search {
      margin-top: 15px;
    }
  }
  @media (max-width: 768px)
  {
    .place-infos {
      margin-top: 10px;
    }
  }
  .modal-backdrop {
    opacity: 0.6;
  }
  .modal-body {
    padding: 15px 0 !important;
  }
  .modal-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .add-hours .start {
    margin-bottom: 24px;
  }
  @media (min-width: 992px)
  {
    /* .add-hours .finish{
      float: right;
    } */
  }
  @media (max-width: 991px)
  {
    .add-hours {
      text-align: center;
    }
  }
  .vdatetime-input {
    font-size: 20px;
    text-align: center;
  }
  
  .navbar-brand {
    color: white;
  }
  .nav-link {
    color: white;
  }
  .alert-general {
      width: 250px; 
      height: 90px; 
      position: fixed; 
      bottom: 20px; 
      right: 10px;
      border-radius: 5px; 
      border: 1px solid;
      font-weight: 900;
      z-index: 6;
  }
  .alert-general.danger {
      background-color: #ff9c9c; 
      color: red; 
      border-color: red; 
  }
  .alert-general.success {
      background-color: #c1ffc1;
      color: green;
      border-color: green; 
  }
  .border-alert {
      border-bottom: 1px solid;
  }
  .border-alert.danger {
      border-color: red;
  }
  .border-alert.success {
      border-color: green;
  }
  .alert-general div {
      padding: 5px;
  }
  .form-error {
      color: red;
      font-size: 13px;
  }
  .input-line {
      border: none;
      border-bottom: 1px solid #9e9e9e;
      border-radius: 0;
      outline: none;
      width: 100%;
      font-size: 16px;
      display: inline;
  }
  .label-line {
      font-size: 13px;
      color: #555555;
  }
  .select-line {
      cursor: pointer;
      border: none;
      border-bottom: 1px solid #9e9e9e;
      outline: none;
      height: 35px;
      width: 100%;
      font-size: 16px;
  }
  .width-place-space {
    width: 11%;
  }
  .width-place-button {
    width: 45%;
  }
  @media (max-width: 991px)
  {
    .width-place-space {
      width: 20%;
    }
    .width-place-button {
      width: 100%;
    }
  }
  .place-details {
    text-align: left;
  }
  @media (max-width: 991px)
  {
    .place-details {
      text-align: center;
    }
  }
  
  .place-rent-value {
    font-size: 30px;
    font-weight: bold; 
    margin-bottom: 5px;
  }
  @media (max-width: 991px)
  {
    .mt-mobile { 
      margin-top: 15px;
    }
  }
  .place-secondary-value {
    font-size: 16px;
  }
  .place-description {
    font-size: 16px;
    margin-top: 15px;
    padding: 0;
  }
  .place-address {
    font-size: 16px;
  }
  .place-address-responsible {
    font-size: 16px;
    margin-bottom: 0;
  }
  .place-number {
    display: block;
    padding-top: 10px;
    font-size: 15px;
  }
  .place-space {
    display: block;
    font-size: 13px;
  }
  .fs-15 {
    font-size: 15px;
  }
  .carousel-item {
      height: 230px;
  }
  .no-image {
    height: 235px; 
    margin: 0;
  }
  .place-rent-value-detail {
    font-size: 30px;
    font-weight: bold; 
  }
  .width-place-space-detail {
    width: 14%;
  }
  @media (max-width: 767px)
  {
    .width-place-space-detail {
      width: 19%;
    }
  }
  .responsible-place {
    margin-top: 50px;
    padding: 10px;
    border: 1px solid #86868654;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px#cccccc54;
  }
  .responsible-name {
    display: block;
    font-size: 18px;
    padding: 10px;
  }
  .responsible-phone {
    display: block;
    font-size: 18px;
    padding: 10px;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .place-description-search {
    font-size: 16px;
    margin: 10px 0;
    display: inline-block;
  }



  .place-images-one {
    display: block;
  }
  .place-images-two {
    display: none;
  }
  .place-images-three {
    display: none;
  }
  .place-images-four {
    display: none;
  }

  @media (max-width: 1100px)
  {
    .place-images-one {
      display: none;
    }
    .place-images-two {
      display: block;
    }
  }
  @media (max-width: 900px)
  {
    .place-images-two {
      display: none;
    }
    .place-images-three {
      display: block;
    }
  }
  @media (max-width: 570px)
  {
    .place-images-three {
      display: none;
    }
    .place-images-four {
      display: block;
    }
  }

  .place-image-item-one {
    width: 25%; 
    height: 320px;
    padding: 0 1px;
  }
  .place-image-item-two {
    width: 33.3%; 
    height: 320px;
    padding: 0 1px;
  }
  .place-image-item-three {
    width: 50%;
    height: 320px;
    padding: 0 1px;
  }
  .place-image-item-four {
    width: 100%;
    height: 320px;
    padding: 0 1px;
  }
  


  .btn-all-photos-desktop {
    display: block;
  }
  .btn-all-photos-mobile {
    display: none;
  }
  @media (max-width: 767px)
  {
    .btn-all-photos-desktop {
      display: none;
    }
    .btn-all-photos-mobile {
      display: block;
    }
  }
  .btn-place-actions {
    float: right;
  }
  @media (max-width: 991px)
  {
    .btn-place-actions {
      float: none !important;
      margin-bottom: 15px;
    }
  }

  .button-menu {
    font-weight: 500;
    font-size: 16px !important;
    text-decoration: none !important;
    border-radius: 20px !important;
    color: white !important;
    background-color: #1d3557;
    padding: 10px 15px;
  }

  .button-menu:hover {
    color: #f6f6f6; 
    background: rgba(0, 0, 0, 0.1);
    color: white;
  }

  .bg-main-color {
    background-color: #e63946 !important;
  }

  .menu-main {
    background-color: rgb(255 255 255) !important;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px -4px 10px 0px #ddd;
    background-color: #e63946 !important;
  }

  .name-user-menu {
    color: white;
  }

  .load {
    position: fixed;
    background-color:rgb(255 255 255 / 90%);
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
   }
   .load img{
   position: relative;
   top: 50%;
   left: 50%;
    transform: translate(-50%, -50%);
   }
  
  .text-center-mobile {
    text-align: left;
  }
  @media (max-width: 900px)
  {
    .text-center-mobile {
      text-align: center;
    }
  }

  .pagination-center {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }

  .div-btn-contact {
    position: fixed; 
    bottom: 15px; 
    right: 15px;
    z-index: 5;
  }

  .btn-contact {
    background-color: rgb(34, 34, 34) !important;
  }
  
  .page-item {
    margin-left: 5px;
  }
  .page-item.active .page-link {
    background-color: #e63946 !important;
    border: 2px solid  #e63946 !important;
    border-radius: 5px;
  }
  .page-item .page-link {
    border: 2px solid  #e63946;
    border-radius: 5px;
    color: #e63946;
    font-size: 18px;
    font-weight: 400;
  }
  .page-item .page-link:hover {
    color: #e63946;
    border: 2px solid  #e63946;
    border-radius: 5px;
    background-color: #e639467a;
  }
  a:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .item-menu {
    font-size: 18px;
    color: white;
    text-decoration: none !important;
    padding: 20px 10px;
  }
  .item-menu:hover {
    color: #f6f6f6; 
    background: rgba(0, 0, 0, 0.1);
  }
  .dropdown-menu {
    left: -100px !important;
    border: 1px solid #00000036 !important;
  }
  
  /* .btn-general {
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    display: inline-block;
    color: white !important;
    text-decoration: none !important;
  } */

  .btn-general {
    text-decoration: none !important;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
    color: rgb(255, 255, 255);
  }

  .btn-general:hover {
    color: rgb(255, 255, 255);
  }

  body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  }

  .btn-general.blue {
    background-color: #1d3557;
  }
  .btn-general.green {
    background-color: rgb(26, 163, 79);
  }
  .btn-general.danger {
    background-color: #dc3545;
  }
  .btn-general.gray {
    background-color:gray;
  }
  /*
  28a745 - verde
  17a2b8 - azul - claro
  1a66ff - azul - medio
  1d3557 - azul - escuro
  */